<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>acada-repo</id>
            <username>admin</username>
            <password>bW9uY2hlcmk=</password>
        </server>
        <server>
            <id>acada-repo</id>
            <username>admin</username>
            <password>bW9uY2hlcmk=</password>
        </server>
    </servers>
</settings>
